@include for-desktop-up {
  @keyframes skills-scale-in-center {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .hidden {
    opacity: 0;
  }

  .skills-scale-in-center {
    opacity: 0;
    animation: skills-scale-in-center 0.5s ease-in-out both;
  }
  

  .ideate {
    animation-delay: 0.5s;
  }

  .design {
    animation-delay: 1s;
  }

  .develop {
    animation-delay: 1.5s;
  }


  @keyframes scale-in-center {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .scale-in-center {
    opacity: 0;
    animation: skills-scale-in-center 0.5s ease-in-out both;
    animation-delay: .5s;
  }
}
