.nav {
    padding: 3vh 3vh 3vh 3vh;
    @include for-desktop-up {
        padding: 25px 0 40px 0;
    }
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        li {
            display: inline;
            padding-right: 30px;
            @include for-desktop-up {
                font-size: 1em;
                font-weight: $semibold;
                padding-right: 60px;
            }
        }
    }
}

.nav-links {
    color: $navy-blue;
    text-decoration: none;
    &:hover {
        color: $light-pink;
    }
}