//Typography
$font-size: 3.3vmin;
$body-font-size: 0.8rem;
$mobile-body-font-size: 1.1em;
$header-font: titling-gothic-fb-extended, sans-serif;
$bold: 700;
$semibold: 500;

$body-font: roboto-mono, monospace;


//Colors
$dark-pink: #bf9b9f;
$light-pink: #f9d1d5;
$white-pink: #f2e3e5;
$navy-blue: #0c0934;