<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Breezy Fasano</title>
    <link rel="stylesheet" href="https://use.typekit.net/urc7nzr.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <nav class="nav">
        <ul>
          <li><a href="#" class="nav-links">blog</a></li>
          <li><a href="#" class="nav-links">contact</a></li>
          <li><a href="#" class="nav-links">github</a></li>
          <li><a href="#" class="nav-links">dribbble</a></li>
        </ul>
      </nav>
      <div class="about-text">
        <h1 class="name">Breezy Fasano</h1>
        {{ content }}
      </div>
    </header>
    <section class="skillset">
      <div class="hidden ideate skill-container">
        <div class="pink-bubble">
          <img src="img/creativity.svg" class="skill-icon" />
          <span>ideate</span>
        </div>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries for previewing layouts and visual mockups.
        </p>
      </div>
      <div class="hidden design skill-container">
        <div class="pink-bubble">
          <img src="img/layers.svg" class="skill-icon" />
          <span>design</span>
        </div>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries for previewing layouts and visual mockups.
        </p>
      </div>
      <div class="hidden develop skill-container">
        <div class="pink-bubble">
          <img src="img/web.svg" class="skill-icon" />
          <span>develop</span>
        </div>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries for previewing layouts and visual mockups.
        </p>
      </div>
    </section>
    <section class="blog">
      <h1 class="section-title">blog posts</h1>
      <div class="posts-container">
        {% for post in site.posts %}
        <div class="post">
          <h3 class="post-name"><a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}</a></h3>
          <span class="post-date">{{ post.date | date: '%m.%-d.%Y' }}</span>
          <span class="post-preview">{{ post.content }}</span>
        </div>
        {% endfor %}
        
      </div>
    </section>
    <section class="final-cta">
      <span class="cta">Check out my code on
        <a href="https://www.github.com/breezyfasano">GitHub</a>, and some of my
        designs on
        <a href="https:///www.dribbble.com/breezyfasano">dribbble</a>. If you
        want to collab on a cool project or just geek out on pixels, shoot me
        <a href="#">a message</a>. :-)</span>
    </section>
    <footer class="footer"></footer>
  </body>
  <script src="js/scripts.js"></script>
</html>
